<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.3/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    bootstrap="./Tests/Fixtures/app/autoload.php">
    <testsuites>
        <testsuite name="NepaliDateConverterBundle Test Suite">
            <directory>./Tests/test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./Converter</directory>
        </whitelist>
    </filter>
    <php>
        <server name="KERNEL_DIR" value="./Tests/Fixtures/app" />
    </php>
</phpunit>